<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/onepiece-system/templates/activity/parts/damage-damage.hbs" }}
    {{> "systems/onepiece-system/templates/activity/parts/activity-effects.hbs" }}
    {{> "systems/onepiece-system/templates/activity/parts/jj-scale.hbs" }}
    {{> "systems/onepiece-system/templates/activity/parts/constant-cost.hbs" }}
</section>
